<div class="p-page">
  <header class="p-page__header">
    <div class="p-page__container">
      <h1 class="p-page__title">{{ page.title }}</h1>
    </div>
  </header>

  <div class="p-page__container">
    {{ page.content }}
  </div>
</div>
