<!-- main-page-shop.liquid -->
<div class="p-shop__wrapper">
	<div class="c-container">
		<h1 class="p-shop__title">{{ page.title }}</h1>

		<figure class="p-shop__logo">
			<img src="{{ 'img-shop.png' | asset_url }}" alt="FUMIKODA">
		</figure>

		{{ page.content }}
	</div>
	<!-- /.c-container -->
</div>
<!-- /.p-shop__wrapper -->
